body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500&display=swap');
@font-face {
  font-family: 'Montserrat-Black';
  src : url('./Asset/font/Montserrat-Black.ttf')
}

* {
  font-family: 'Montserrat', sans-serif;
}
