.create-input {
    margin-bottom: 1.5rem;
}
.textarea{
    max-height: 300px;
    min-height: 200px;
}
.partic-date-picker {
    border: 1px solid #B8B6B6;
    box-sizing: border-box;
    border-radius: 6px;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
}
.create-img  {
    margin: auto;
    width: 300px;
}
.img {
    border-radius: 25px;
}
.create-img-text {
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}
.create-img:hover .img {
    opacity: 0.5;
}
.create-img:hover .create-img-text{
    opacity: 1;
}

@media (max-width : 480px){
    .create-img {
        width : 200px
    }
}